---
import "../../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about/">About</a>
      <a href="/photos/">Photos</a>
    </nav>
    <h1>About Me:</h1>
    <p>
      Hi, I'm Otso Reijonen, a passionate developer and creator. I have a strong
      background in software development and a keen interest in building
      innovative solutions. With a focus on clean code and user-centric design,
      I aim to create projects that not only function but also provide an opportunity for others to learn from. 
      Apart from programming, my passions include photography, running, sailing, and explorting the world. I believe that the most important thing is to ask questions and to be curious. 
      Feel free to reach out to me for whatever reason! 
    </p>
  </body>
</html>
