---
import "../../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about/">About</a>
      <a href="/photos/">Photos</a>
    </nav>
    <h1>About Me:</h1>
    <p>
      Hi, I'm Otso Reijonen, a passionate developer and creator. I have a strong
      background in software development and a keen interest in building
      innovative solutions. With a focus on clean code and user-centric design,
      I strive to create impactful projects that make a difference. Whether it's
      developing web applications, cryptography, exploring new technologies, or
      sharing knowledge with the community, I'm always eager to learn and grow
      as a developer.
    </p>
  </body>
</html>
