---
import "../../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about/">About</a>
      <a href="/photos/">Photos</a>
    </nav>
    <h1>About Me:</h1>
    <p>
      Hey, welcome to my photo portfolio! Here, you'll find a collection of my
      favorite photographs that I've taken over the years. Each photo tells a
      unique story and captures a special moment in time. From breathtaking
      landscapes to candid portraits, I hope you enjoy exploring my visual
      journey through the lens. Feel free to reach out if you have any questions
      or if you'd like to collaborate on a photography project!
    </p>
  </body>
</html>
